 *{
            border-end-end-radius:  2px solid black;
            margin: 0px;
            padding: 0px;
            box-sizing: border-box;
        }
       @font-face {
        font-family: custom-font;
        src: url(./fonts/Montserrat-VariableFont_wght.ttf);
       }
        body{
            width: 100%;
            height: 100vh;
            display: flex;
            gap: 20px;
            flex-direction: column;
        }
        .header{
            display: flex;
            padding: 10px;
            display: flex;
            align-items: center;
           justify-content: space-between;
           background-color: #faebd7;
           gap: 10px;
            box-shadow: 1px 1px 10px;
            

        }
        .header input{
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #5410ca;
            border: 2px solid #5410ca;
            border-radius: 5px;
            width: 100px;
            font-size: 15px;
            font-weight: bold;
            box-shadow: 1px 1px 10px grey;

         }

         .header input:hover{
            background-color: #1a1c139b;
         }
         .about{
            padding: 10px;
            background-color: #5d553c;
            box-shadow: 1px 1px 5px black;
            color:white;  
            font-family: custom-font;
            width: 180px;
         }

        form{
            
            display: flex;
            flex-direction: column;
            background-color:#0b060b ;
           height: 500px; 
           width:300px;
           margin: 0 auto;
           outline: 10px #08060b solid;
           margin-top: 50px; 
           padding: 1px;
           border-radius: 5px;
           justify-content: flex-end;
           align-items: center;
           box-shadow: 10px 10px 50px black;
         }
        .container{
            height: 600px;

        }
        .container .place-holder{
            display: flex;
            flex-direction: column;
            height: 200px;
            width: 300px;
            background-color: rgb(46, 56, 56);
            color: white;
            font-weight: bold;
            font-size: 30px;
            align-items: center;
            justify-content: space-around;
            padding: 10px;

            border:  2px #0b060b  solid;
        }
        
        .display input{
            border: 2px  rgb(46, 56, 56) solid;
            background-color: rgb(46, 56, 56);
            width: 290px;
        }
       .container .items {

        display: flex;
        flex-wrap: wrap;
            width: 300px;
            height: 310px;
            background-color: #0e0f0f;
            border-top-left-radius: 15px;          
            border-top-right-radius: 15px; 
        }
      
        .item input{
            width: 55px;
            height:55px;
            background-color:rgb(40, 42, 45);
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 30%;
            border:  2px rgb(27, 27, 49) solid;
            font-size: 30px;
            font-family:custom-font;
            /* box-shadow: 1px 1px 1px; */
        }

        .item {
            display: flex;
            gap: 15px;
            justify-content: center;
            align-items: center;
            width: 300px;  
        }
    .input{
            display: flex;
            height: 60px;
         width:290px;
         align-items: center;
            background-color: rgb(46, 56, 56);
            border-color:rgb(46, 56, 56) ;
            border:  2px rgb(46, 56, 56);
        }
        input{
            padding: 10px;
            display: flex;
            justify-content: end;
            align-items: end;
            text-align: end;
            color: white;
            font-size: 20px;
            border: 2px solid  rgb(46, 56, 56);
             border:  2px white solid;
        }
        a{
            color: white;
            font-weight: 900;
        }
        a{
            text-decoration: none;     
        }
       .item1 .all-clear{
            font-size: 20px;
            color:#93db4a;
            font-weight: 600;
        }
        .item1 .delete{
            font-size: 20px;
            color: #93db4a;
            font-weight: 600;   
        }
     
       .facebook{
        color: rgb(22, 59, 224);
        font-family: custom-font;
       }
         
        